.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 50vw;
    height: 100%;
    margin: 0 auto;
    backdrop-filter: blur(25px);
    box-shadow: 0 0 10px rgb(0, 0, 0,.2);
    color: #fff;
}